body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}
.form-container {
    background: rgba(255, 255, 255, 0.2); /* Fundo transparente */
    backdrop-filter: blur(10px); /* Desfoque do fundo */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3); /* Borda suave */
    width: 300px;
    text-align: middle;
}
input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
button {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}

a button {
    background-color: #008CBA;
}

a button:hover {
    background-color: #007bb5;
}